<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Solution" type="System.Configuration.SingleTagSectionHandler" />

		<section name="Domain.Models" type="System.Configuration.SingleTagSectionHandler" />
		<section name="Domain.RepositoryInterfaces" type="System.Configuration.SingleTagSectionHandler" />

		<section name="Data.Migration" type="System.Configuration.SingleTagSectionHandler" />
		<section name="Data.RepositoryImplementation" type="System.Configuration.SingleTagSectionHandler" />

		<section name="Application.ViewModels" type="System.Configuration.SingleTagSectionHandler" />
		<section name="Application.AutoMapper" type="System.Configuration.SingleTagSectionHandler" />
		<section name="Application.DomainAppService" type="System.Configuration.SingleTagSectionHandler" />

		<section name="WebApi.Controllers" type="System.Configuration.SingleTagSectionHandler" />
		<section name="WebApi.DependencyInjection" type="System.Configuration.SingleTagSectionHandler" />

		<section name="DataBase.StoredProcedures" type="System.Configuration.SingleTagSectionHandler" />
		<section name="DataBase.Functions" type="System.Configuration.SingleTagSectionHandler" />


	</configSections>

	<!-- Solution -->
	<!--<Solution baseNameSpace="DS" targetBasePath="D:\Carrer\Interview\Findox\InterviewProject\DS_OK" 
			  templateBasePath="D:\Carrer\OldProjects\CodeGenerator\Templates\"
			  forceCreateFolder="true"
			  />-->

	<!--targetBasePath="D:\Carrer\Interview\Findox\InterviewProject\DS_OK\"-->
	<Solution baseNameSpace="DS" 
			  targetBasePath="D:\Carrer\Interview\Findox\InterviewProject\DS_Template\"
			  templateBasePath="D:\Carrer\OldProjects\CodeGenerator\Templates\"
			  forceCreateFolder="true"
			  forceCreateFile="true"
			  />

	<!-- Domain -->
	<Domain.Models nameSpace="Domain.Model" targetPath="\src\Domain\Models\" 
				   primaryKey="Id" 
				   timeStampInsert="CreatedAt" 
				   timeStampUpdate="UpdatedAt" 
				   templateFile="11Domain.Model.cs.txt" 
				   targetFile="{DomainModel}.cs" 
				   />
	
	<Domain.RepositoryInterfaces nameSpace="Domain.Repository" targetPath="\src\Domain\Repository\{DomainModel}\"
								 generateQuery="true" generateCommands="true"
								 queryTemplateFile="12Domain.Repository.Domain.IDomainQueryRepository.cs.txt" 
								 commandsTemplateFile="12Domain.Repository.Domain.IDomainCommandsRepository.cs.txt"
								 queryTargetFile="I{DomainModel}QueryRepository.cs"
								 commandsTargetFile="I{DomainModel}CommandsRepository.cs"
								 />

	<!-- Data -->
	<Data.Migration nameSpace="Data.Migration" targetPath="" templateFile="" />
	<Data.RepositoryImplementation nameSpace="Data.Repository" targetPath="\src\Data\Repository\{DomainModel}\"
								   generateQuery="true" generateCommands="true"
								   queryTemplateFile="22Data.Repository.DomainQueryRepository.cs.txt" 
								   commandsTemplateFile="22Data.Repository.DomainCommandsRepository.cs.txt" 
								   queryTargetFile="{DomainModel}QueryRepository.cs"
								   commandsTargetFile="{DomainModel}CommandsRepository.cs"
								   />

	<!-- Application -->
	<Application.ViewModels nameSpace="Application.ViewModel" targetPath="\src\Application\ViewModels\" 
							templateFile="31Application.ViewModels.DomainViewModel.cs.txt" 
							targetFile="{DomainModel}ViewModel.cs"
							/>
	
	<Application.DomainAppService nameSpace="Application.Services" targetPath="\src\Application\Services\" 
								  generateInterface="true" generateImplemention="true" 
								  interfaceTemplateFile="32Application.Services.IDomainApplicationService.cs.txt" 
								  implementationTemplateFile="32Application.Services.DomainApplicationService.cs.txt"
								  interfaceTargetFile="I{DomainModel}ApplicationService.cs"
								  implementationTargetFile="{DomainModel}ApplicationService.cs"								  
								  />
	
	<Application.AutoMapper nameSpace="Application.AutoMapper" targetPath="\src\Application\AutoMapper\" 
							domainToViewTemplateFile ="34Application.DomainToViewModel.cs.txt"
							viewToDomainTemplateFile="33Application.ViewModelToDomain.cs.txt"
							domainToViewTargetFile="DomainToViewModelMappingProfile.cs" 
							viewToDomainTargetFile="ViewModelToDomainMappingProfile.cs"  
							appendTagString="//MappingAppendTag" 
							/>

	<!-- Web Api -->
	<WebApi.Controllers nameSpace="WebApi.{ApiVersionNameSpace}.Controllers" targetPath="\src\Api\{ApiVersionNameSpace}\" 
						apiVersion="2.0" 
						apiVersionNameSpace="V2" 
						templateFile="41WebApi.Controllers.DomainController.cs.txt" 
						targetFile="{DomainModel}Controller.cs"
						/>
	
	<WebApi.DependencyInjection nameSpace="WebApi.Configuration" targetPath="\src\Api\Configuration\"
								templateFile ="42WebApi.DependencyInjection.cs.txt"
								targetFile="DependencyInjectionConfig.cs" 
								appendTagString="//DependencyInjectionAppendTag" 
								/>

	<!-- DataBase Stored Procedures / Functions -->
	<DataBase.StoredProcedures targetPath="\solutionfiles\db\sps\" 
							   templateFile="sps_domain.sql" 
							   targetFile="sps_{DomainModel}.sql" 
							   />
	
	<DataBase.Functions targetPath="\solutionfiles\db\fns\" 
						templateFile="fns_domain.sql" 
						targetFile="fns_{DomainModel}.sql" 
						/>


	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<connectionStrings>
		<clear />
		<add name="postgres"
		 providerName="Npgsql"
		 connectionString="Host=localhost;Username=postgres;Password=cyber2010!;Database=dbdocstorage01;Port=5433;Pooling=true;SearchPath=public;IncludeErrorDetails=true" />
	</connectionStrings>


</configuration>
